body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #444;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

main {
  padding: 2rem;
  background-color: #333;
  color: #fff;
  margin: 30px auto;
  max-width: 50%;
  border-radius: 8px;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

h2 {
  color: #fff;
}

a {
  font-size: 1.0rem;
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #BBFFEE;
  transition: background-color 1s, color 1s;
}