body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #444;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

main {
  padding: 0.5rem 2rem 2rem 2rem;
  background-color: #333;
  color: #fff;
  margin: 30px auto;
  max-width: 50%;
  border-radius: 8px;
}

.link {
  padding: 0.5rem 2rem 2rem 2rem;
  background-color: #333;
  color: #fff;
  margin: 30px auto;
  max-width: 50%;
  border-radius: 8px;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

h2 {
  color: #fff;
}

.tin{
  font-size: 2rem;
}

a {
  word-wrap: break-word;
  font-size: 1.0rem;
  color: #fff;
  text-decoration: none;
  transition: color 1s, background-color 1s;
}

a:hover {
  text-decoration: underline;
  color: #BBFFEE;
  transition: background-color 1s, color 1s;
}

img {
  max-width: 50%;
}

.focus-button {
  margin: 0px 8px 0px 0px;
  display: inline-flex;
  align-items: center;
  padding: 10px 15px 10px 10px;
  font-size: 1rem;
  background-color: #333;
  border: 3px solid #ccc;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: color 1s, border-color 1s;
}

.focus-button:hover {
  border-color: #BBFFEE;
  outline: none;
  transition: border-color 1s, color 1s;
}

.icon {
  margin: 0px;
  padding: 0px 10px 0px 0px;
  width: 30px;
}

@media (max-width: 600px) {
  main {
    max-width: 80%;
  }
  img {
    max-width: 80%;
  }
}

