body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: #fff;
}

.welcome-container {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #444;
    width: 20%;
}

.welcome-container h1 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.enter-button {
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 30%;
    background-color: #fff;
    color: #333;
}

.enter-button:hover {
    background-color: #444;
    color: #fff;
}

img {
    width: 20%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.2);
}
