.articleTitle {
  color: #fff;
  font-size: 2rem;
}

.articleContent {
  color: #fff;
  font-size: 1.0rem;
}

a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  transition: color 1s, background-color 1s;
}

a:hover {
  text-decoration: underline;
  color: #BBFFEE;
  transition: background-color 1s, color 1s;
}

main {
  margin-bottom: 6rem;
}

