@media (min-width: 450px) and (max-width: 600px){
    img {
        display: none !important;
    }
}

@media (min-width: 0px) and (max-width: 450px){
    iframe {
        right: auto !important;
    }
    img {
        display: none !important;
    } 
}

body {
    background-color: #F1F1F1;
}

.header {
    height: 40px;
    text-align: center;
}

.left{
    height: 40px;
    position: relative;
    float: left;
}

.centre{
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.right {
    height: 40px;
    position: relative;
    float: right;      
}

.language-dropdown {
    background-color: white;      
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: none;
    position: absolute;         
    top: 101%;                    
    left: 0;                     
    border-radius: 5px;         
    overflow: hidden;              
    z-index: 1;                
}

.language-dropdown a {
    color: black;                
    text-shadow: 1px 1px 3px #666666;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;        
    display: block;
}

.language-dropdown a:hover {
    background-color: #f0f0f0; 
}

.right:hover .language-dropdown {
    display: block;               
}

.message {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 0.9em;
    animation: float 2s linear infinite;
}

.about {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    padding: 200px 0;
}

.table{
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    position:relative;
    top: -20px;
}

iframe {
    width: 330px;
    height: 80px;
    border: 0;
	position:absolute;
	right:5px;
	bottom:5px;
}

img {
    width: 250px;
    height: 150px;
    position:absolute;
	left:5px;
	bottom:5px;
}

h1{
    font-family:Arial,Helvetica,sans-serif;
    font-size:1.7em;
}

h2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2em;
    width: 99%;
    text-align:center;
    position:absolute;
    top: calc(50% - 2em);
    -webkit-animation: light 1.5s ease-in-out infinite alternate;
}

button.top {
    text-shadow: 1px 1px 3px #666666;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: #000;
    border: 0;
    padding: 10px;
    background: #fff;
    border-radius: 6px;
    transition-duration: 0.8s;
}

button.top:hover {
    background: #FFF0F5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button.icon_button{
    width: 33px;
    height: 32px;
    border-style: none;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

table th {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #000000;
    background-color: #f0f0f0;
    padding-top: 5px;
    padding-bottom: 4px;
    text-align: left;
    vertical-align: middle;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

table td {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.05em;
    background-color: #ffff;
    border:1px solid #f0f0f0;
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
    flex-wrap: wrap;
}


@-webkit-keyframes light {
    from {
        text-shadow: 0 0 10px #E8CCFF,
        0 0 20px #E8CCFF,
        0 0 30px #E8CCFF,
        0 0 40px #F0BBFF,
        0 0 70px #F0BBFF,
        0 0 80px #F0BBFF,
        0 0 100px #F0BBFF,
        0 0 150px #F0BBFF;
    }
    to {
        text-shadow: 0 0 5px #E8CCFF,
        0 0 10px #E8CCFF,
        0 0 15px #E8CCFF,
        0 0 20px #F0BBFF,
        0 0 35px #F0BBFF,
        0 0 40px #F0BBFF,
        0 0 50px #F0BBFF,
        0 0 75px #F0BBFF;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

