.footer{
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    position:relative;
    top: -20px;
}

.project-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

.project-table th {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #000000;
    background-color: #f0f0f0;
    padding-top: 5px;
    padding-bottom: 4px;
    text-align: left;
    vertical-align: middle;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.project-table td {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.05em;
    background-color: #ffff;
    border:1px solid #f0f0f0;
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
    flex-wrap: wrap;
}
